/* HEADER */
.question-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  padding: 2rem 1rem;
}

.progress-timer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.progress-timer-div span {
  font-family: "Space Mono";
  font-size: 2rem;
}

.timer-div {
  background-color: var(--transparent-white);
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

/* MAIN */

.question-options {
  padding: 1rem;
  font-size: 1.5rem;
}

.question-option {
  position: relative;
  border: 1px solid var(--darkblue);
  margin-bottom: 0.5rem;
  border-radius: 4px;
  padding: 0.5rem;
}

.question-option input {
  display: none;
}

.question-option label {
  min-width: 100%;
}

.selected {
  border: 2px solid var(--darkblue);
}

.answer-correct {
  position: absolute;
  background: var(--success-gradient);
  right: 0;
  top: 0;
  height: 100%;
  width: 20%;
}

.answer-incorrect {
  position: absolute;
  background: var(--failure-gradient);
  right: 0;
  top: 0;
  height: 100%;
  width: 20%;
}
